body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f7fc;
    color: #333;
}

h1, h2, p {
    color: #004080;
}

input, button {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #004080;
}

input {
    width: 100%;
}

button {
    background-color: #0073e6;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

#resultado {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #004080;
    border-radius: 4px;
    background-color: #fff;
}
